@font-face {
    font-family: Montserrat;
    src: url('assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}

@media only screen and (max-width: 992px) {
    /* small screens */

    .container {
        width: 95vw;
    }
}

@media only screen and (min-width: 992px) {
    /* big screens */

    .container {
        width: 60vw;
    }
}



body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 1920 1080' width='1920' height='1080' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='1920' height='1080' fill='%23ffffff'%3E%3C/rect%3E%3Cdefs%3E%3ClinearGradient id='grad1_0' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%230066ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%230066ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_1' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%230066ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%235a7aff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_2' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23808eff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%235a7aff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_3' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23808eff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%239ea4ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_4' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23b9baff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%239ea4ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_5' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23b9baff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23d2d0ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_6' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23e9e7ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23d2d0ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad1_7' x1='43.8%25' y1='0%25' x2='100%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23e9e7ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23ffffff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_0' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%230066ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%230066ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_1' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%235a7aff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%230066ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_2' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%235a7aff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23808eff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_3' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%239ea4ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23808eff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_4' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%239ea4ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23b9baff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_5' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23d2d0ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23b9baff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_6' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23d2d0ff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23e9e7ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cdefs%3E%3ClinearGradient id='grad2_7' x1='0%25' y1='0%25' x2='56.3%25' y2='100%25'%3E%3Cstop offset='14.444444444444446%25' stop-color='%23ffffff' stop-opacity='1'%3E%3C/stop%3E%3Cstop offset='85.55555555555554%25' stop-color='%23e9e7ff' stop-opacity='1'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(1920, 0)'%3E%3Cpath d='M0 810C-161.1 800.1 -322.3 790.1 -405 701.5C-487.7 612.8 -492 445.5 -546.5 315.5C-600.9 185.5 -705.4 92.7 -810 0L0 0Z' fill='%23f4f3ff'%3E%3C/path%3E%3Cpath d='M0 708.8C-141 700 -282 691.3 -354.4 613.8C-426.8 536.2 -430.5 389.8 -478.2 276.1C-525.8 162.3 -617.3 81.1 -708.7 0L0 0Z' fill='%23dddcff'%3E%3C/path%3E%3Cpath d='M0 607.5C-120.9 600 -241.7 592.6 -303.7 526.1C-365.8 459.6 -369 334.1 -409.8 236.6C-450.7 139.1 -529.1 69.6 -607.5 0L0 0Z' fill='%23c5c5ff'%3E%3C/path%3E%3Cpath d='M0 506.3C-100.7 500 -201.4 493.8 -253.1 438.4C-304.8 383 -307.5 278.5 -341.5 197.2C-375.6 115.9 -440.9 58 -506.2 0L0 0Z' fill='%23acafff'%3E%3C/path%3E%3Cpath d='M0 405C-80.6 400 -161.1 395.1 -202.5 350.7C-243.9 306.4 -246 222.8 -273.2 157.8C-300.4 92.7 -352.7 46.4 -405 0L0 0Z' fill='%239099ff'%3E%3C/path%3E%3Cpath d='M0 303.8C-60.4 300 -120.9 296.3 -151.9 263.1C-182.9 229.8 -184.5 167.1 -204.9 118.3C-225.3 69.6 -264.5 34.8 -303.7 0L0 0Z' fill='%236e84ff'%3E%3C/path%3E%3Cpath d='M0 202.5C-40.3 200 -80.6 197.5 -101.2 175.4C-121.9 153.2 -123 111.4 -136.6 78.9C-150.2 46.4 -176.4 23.2 -202.5 0L0 0Z' fill='%233f70ff'%3E%3C/path%3E%3Cpath d='M0 101.3C-20.1 100 -40.3 98.8 -50.6 87.7C-61 76.6 -61.5 55.7 -68.3 39.4C-75.1 23.2 -88.2 11.6 -101.2 0L0 0Z' fill='%230066ff'%3E%3C/path%3E%3C/g%3E%3Cg transform='translate(0, 1080)'%3E%3Cpath d='M0 -810C155 -796.5 310 -783 405 -701.5C500 -619.9 534.9 -470.3 592.4 -342C649.9 -213.7 729.9 -106.9 810 0L0 0Z' fill='%23f4f3ff'%3E%3C/path%3E%3Cpath d='M0 -708.7C135.6 -697 271.3 -685.2 354.4 -613.8C437.5 -542.4 468 -411.5 518.3 -299.3C568.6 -187 638.7 -93.5 708.8 0L0 0Z' fill='%23dddcff'%3E%3C/path%3E%3Cpath d='M0 -607.5C116.3 -597.4 232.5 -587.3 303.7 -526.1C375 -464.9 401.2 -352.7 444.3 -256.5C487.4 -160.3 547.4 -80.2 607.5 0L0 0Z' fill='%23c5c5ff'%3E%3C/path%3E%3Cpath d='M0 -506.2C96.9 -497.8 193.8 -489.4 253.1 -438.4C312.5 -387.4 334.3 -293.9 370.2 -213.8C406.2 -133.6 456.2 -66.8 506.3 0L0 0Z' fill='%23acafff'%3E%3C/path%3E%3Cpath d='M0 -405C77.5 -398.3 155 -391.5 202.5 -350.7C250 -310 267.4 -235.1 296.2 -171C324.9 -106.9 365 -53.4 405 0L0 0Z' fill='%239099ff'%3E%3C/path%3E%3Cpath d='M0 -303.7C58.1 -298.7 116.3 -293.6 151.9 -263.1C187.5 -232.5 200.6 -176.3 222.1 -128.3C243.7 -80.2 273.7 -40.1 303.8 0L0 0Z' fill='%236e84ff'%3E%3C/path%3E%3Cpath d='M0 -202.5C38.8 -199.1 77.5 -195.8 101.2 -175.4C125 -155 133.7 -117.6 148.1 -85.5C162.5 -53.4 182.5 -26.7 202.5 0L0 0Z' fill='%233f70ff'%3E%3C/path%3E%3Cpath d='M0 -101.2C19.4 -99.6 38.8 -97.9 50.6 -87.7C62.5 -77.5 66.9 -58.8 74 -42.8C81.2 -26.7 91.2 -13.4 101.3 0L0 0Z' fill='%230066ff'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed; 
    background-size: cover;

    letter-spacing: 1px;
    line-height: 1.5em;
}

/* .container {
    background-color: white;
} */

.navbar {
    justify-content: center;
    background-color: rgb(80, 170, 255);
}

.navbar-text {
    margin: auto;
    color: black;
}

section {
    margin: 2em 0;
    padding: 2em;
}

.main-text {
    font-size: large;
    text-align: center;
}

.main-text h1 {
    margin: 1em 0;
}

.card {
    padding: 2vw;
    border: solid rgb(0, 102, 255) 2px;
    border-radius: 1em;
    box-shadow: 0 10px 20px 0 rgba(0, 102, 255, 0.2);
    transition: 0.5s;
}

.card:hover {
    box-shadow: 0 20px 40px 0 rgba(0, 102, 255, 0.3);
}

.parameters-form {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

.parameters-form .form-floating {
    margin: 1em 0;
}

#map-container {
    height: 24em;
    margin: 2em auto 0 auto;
    border-radius: 1em;
}

.leaflet-bottom {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

 .leaflet-control-geocoder {
    /* width: calc(100% - 20px) !important; */
    width: auto !important;
    margin: 10px !important;
 }

 .leaflet-control-geocoder-form  {
    width: calc(100% - 40px) !important;
    float: left !important;
    margin-left: 5px !important;
    margin-top: 3px !important;
 }

 .leaflet-control-geocoder-form input{
    width: 100% !important;
 }

.consumption .form-range {
    width: 8%;
    height: 60px;
    margin: 50px auto auto auto;
    transform: rotate(270deg);
    -moz-transform: rotate(270deg); /*do same for other browsers if required*/
}

#button-calculate {
    width: 100%;
    height: 4em;
    margin-top: 1em;
    font-size: large;
}

#simulation-card {
    display: none;
}

#simulation-card h2 {
    text-align: center;
}

.plotlybars {
    padding: 0 10px;
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.plotlybars-wrapper {
    width: 165px;
    height: 100px;
    margin: 12em auto;
}

.plotlybars-text {
    color: #447adb;
    font-family: 'Open Sans', verdana, arial, sans-serif;
    font-size: 80%;
    text-align: center;
    margin-top: 5px;
}

.plotlybars-bar {
    background-color: #447adb;
    height: 100%;
    width: 13.3%;
    position: absolute;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;

    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
}

.b1 { left: 0%; top: 88%; animation-name: b1; -webkit-animation-name: b1; }
.b2 { left: 14.3%; top: 76%; animation-name: b2; -webkit-animation-name: b2; }
.b3 { left: 28.6%; top: 16%; animation-name: b3; -webkit-animation-name: b3; }
.b4 { left: 42.9%; top: 40%; animation-name: b4; -webkit-animation-name: b4; }
.b5 { left: 57.2%; top: 26%; animation-name: b5; -webkit-animation-name: b5; }
.b6 { left: 71.5%; top: 67%; animation-name: b6; -webkit-animation-name: b6; }
.b7 { left: 85.8%; top: 89%; animation-name: b7; -webkit-animation-name: b7; }

@keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }
@-webkit-keyframes b1 { 0% { top: 88%; } 44% { top: 0%; } 94% { top: 100%; } 100% { top: 88%; } }

@keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }
@-webkit-keyframes b2 { 0% { top: 76%; } 38% { top: 0%; } 88% { top: 100%; } 100% { top: 76%; } }

@keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }
@-webkit-keyframes b3 { 0% { top: 16%; } 8% { top: 0%; } 58% { top: 100%; } 100% { top: 16%; } }

@keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }
@-webkit-keyframes b4 { 0% { top: 40%; } 20% { top: 0%; } 70% { top: 100%; } 100% { top: 40%; } }

@keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }
@-webkit-keyframes b5 { 0% { top: 26%; } 13% { top: 0%; } 63% { top: 100%; } 100% { top: 26%; } }

@keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }
@-webkit-keyframes b6 { 0% { top: 67%; } 33.5% { top: 0%; } 83% { top: 100%; } 100% { top: 67%; } }

@keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }
@-webkit-keyframes b7 { 0% { top: 89%; } 44.5% { top: 0%; } 94.5% { top: 100%; } 100% { top: 89%; } }


.plot {
    width: 100%;
    height: 60vh;
    margin: auto;
    margin-bottom: 2em;
}

.heatmap-container {
	width: 100%;
}

.table-container {
    width: 100%;
    margin: 0 auto;
}

#simulation-table {
    table-layout: fixed;
}

.contact h3 {
    margin-bottom: 1em;
    /* text-align: center; */
}

.contact #button-email {
    height: 3em;
    width: 6em;
    margin: auto;
    font-size: large;
}
